.multiplatformContainer {
  background-color: var(--swm-navy-dark-40);
  border-radius: 16px;
  width: 456px;
  height: 345px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 3rem;
}

.content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  min-width: 100%;
  padding: 0;
  margin-bottom: 0;
}

.content svg {
  width: 100%;
  object-fit: contain;
}

.marqueeItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 3rem));
    /* we need to do full full translate minus gap */
  }
}

.animation .content {
  animation: marquee 15s linear infinite;
}
