.screens {
  position: absolute;
  top: 8rem;
  right: 0;
  overflow: hidden;
  min-height: 70%;
  display: flex;
  align-items: center;
}

@media (max-width: 1350px) {
  .screens {
    top: 12rem;
    min-height: 60%;
  }
}

@media (max-width: 996px) {
  .screens {
    top: 3rem;
  }
}

@media (max-width: 768px) {
  .screens {
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
  }
}
