.screens {
  position: absolute;
  top: calc(3rem + 50px);
  right: 0;
  overflow: hidden;
  min-height: 55%;
  display: flex;
  align-items: center;
}

@media (min-width: 2920px) {
  .screens {
    top: calc(3rem + 50px);
    min-height: 70%;
  }
}
@media (min-width: 3000px) and (min-height: 1500px) {
  .screens {
    top: calc(-3vh + 50px);
    min-height: 50%;
  }
}

@media (min-width: 3000px) and (min-height: 2000px) {
  .screens {
    top: calc(3vh + 50px);
    min-height: 35%;
  }
}

@media (max-width: 2000px) {
  .screens {
    top: calc(4rem + 50px);
    min-height: 70%;
  }
}

@media (max-width: 1350px) {
  .screens {
    top: calc(9rem + 50px);
    min-height: 60%;
  }
}

@media (max-width: 996px) {
  .screens {
    top: calc(2rem + 50px);
  }
}

@media (max-width: 768px) {
  .screens {
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
  }
}
