.screens {
  position: absolute;
  top: 2rem;
  right: 0;
  overflow: hidden;
  min-height: 55%;
  display: flex;
  align-items: center;
}

@media (min-width: 2920px) {
  .screens {
    top: 3rem;
    min-height: 70%;
  }
}
@media (min-width: 3000px) and (min-height: 1500px) {
  .screens {
    top: -3vh;
    min-height: 50%;
  }
}

@media (min-width: 3000px) and (min-height: 2000px) {
  .screens {
    top: -3vh;
    min-height: 50%;
  }
}

@media (max-width: 2000px) {
  .screens {
    top: 4rem;
    min-height: 70%;
  }
}

@media (max-width: 1350px) {
  .screens {
    top: 9rem;
    min-height: 60%;
  }
}

@media (max-width: 996px) {
  .screens {
    top: 2rem;
  }
}

@media (max-width: 768px) {
  .screens {
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
  }
}
