.hireUsSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 16rem;
  margin-top: 6.5rem;
}

@media (max-width: 996px) {
  .hireUsSectionWrapper {
    margin-top: 3.5rem;
    margin-bottom: 10rem;
  }
}

@media (max-width: 768px) {
  .hireUsSectionWrapper {
    gap: 1.5rem;
    margin-top: 0;
    margin-bottom: 5rem !important;
  }
  .hireUsTitleContainer h2 {
    font-size: 42px !important;
  }
  .hireUsSectionBody {
    font-size: 20px !important;
  }
}

@media (max-width: 420px) {
  .hireUsSectionWrapper {
    margin-top: 0;
    margin-bottom: 4rem !important;
  }
}

.hireUsTitleContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.hireUsTitleContainer h2 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}

.hireUsTitleContainer h2 > span {
  color: var(--swm-blue-light-80);
}

[data-theme='dark'] .hireUsTitleContainer h2 > span {
  color: var(--swm-blue-light-80);
}

.hireUsSectionBody {
  font-size: 24px;
  text-wrap: balance;
  text-align: center;
  font-weight: 400;
}
