name: Test Android e2e
on:
  pull_request:
    paths:
      - '.github/workflows/android-e2e-test.yml'
      - 'package.json'
      - 'android/**'
      - 'common/**'
      - 'Example/**'
      - 'src/**'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  test:
    runs-on: macos-12
    timeout-minutes: 60
    env:
      WORKING_DIRECTORY: Example
    concurrency:
      group: android-e2e-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle'
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - name: Install root node dependencies
        run: yarn install
      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn install
      - name: Build app
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn build-e2e-android
      - name: Run emulator and tests
        uses: reactivecircus/android-emulator-runner@v2.28.0
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          api-level: 31
          target: default
          profile: pixel_2
          ram-size: '4096M'
          disk-size: '10G'
          disable-animations: false
          avd-name: e2e_emulator
          arch: x86_64
          script: yarn test-e2e-android
      - uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: android-fail-screen-shoots
          path: ${{ env.WORKING_DIRECTORY }}/artifacts
