name: Test Android build
on:
  pull_request:
    branches:
      - main
    paths:
      - 'android/**'
      - 'package.json'
      - 'TestsExample/**'
      - '.github/workflows/android-build-test.yml'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      WORKING_DIRECTORY: TestsExample
    concurrency:
      group: android-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'yarn'
          cache-dependency-path: 'TestsExample/yarn.lock'
      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn
      - name: Build app
        working-directory: ${{ env.WORKING_DIRECTORY }}/android
        run: ./gradlew assembleDebug --console=plain
