name: Test iOS e2e
on:
  pull_request:
    paths:
      - '.github/workflows/ios-e2e-test.yml'
      - 'RNScreens.podspec'
      - 'package.json'
      - 'ios/**'
      - 'common/**'
      - 'Example/**'
      - 'TestsExample/**'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  test:
    runs-on: macos-12
    timeout-minutes: 40
    env:
      WORKING_DIRECTORY: Example
    concurrency:
      group: ios-e2e-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Get Xcode version
        run: xcodebuild -version
      - name: Install AppleSimulatorUtils
        run: brew tap wix/brew && brew install applesimutils
      - name: Install root node dependencies
        run: yarn
      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn
      - name: Install pods
        working-directory: ${{ env.WORKING_DIRECTORY }}/ios
        run: pod install
      - name: Build app
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn build-e2e-ios
      - name: Test app
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn test-e2e-ios
      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: ios-fail-screen-shoots
          path: ${{ env.WORKING_DIRECTORY }}/artifacts
