name: Test tvOS build
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/tv-os-build-test.yml'
      - 'RNScreens.podspec'
      - 'package.json'
      - 'ios/**'
      - 'common/**'
      - 'TVOSExample/**'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: macos-12
    timeout-minutes: 60
    env:
      WORKING_DIRECTORY: TVOSExample
    concurrency:
      group: ios-tv-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'yarn'
          cache-dependency-path: 'TVOSExample/yarn.lock'
      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn
      - name: Install pods
        working-directory: ${{ env.WORKING_DIRECTORY }}/ios
        run: pod install
      - name: Build app
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn tv-os
