.sponsorsTitle {
  font-size: 48px;
  margin-bottom: 4rem;
  text-align: center;
}

.sponsorsBrand {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media (max-width: 996px) {
  .sponsorsTitle {
    font-size: 40px;
  }
  .sponsorsBrand {
    margin: 2.5rem auto 5.5rem;
    gap: 3rem;
  }
  .sponsor {
    width: 170px;
    height: auto;
  }
}

@media (max-width: 420px) {
  .sponsorsTitle {
    font-size: 24px;
  }
  .sponsorsBrand {
    gap: 2.5rem;
  }
  .sponsor {
    width: 120px;
    height: auto;
  }
}
